body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18); */
  background: linear-gradient(
    to right,
    #f6f5f8 0%,
    #f6f5f8 40%,
    #181a1e 40%,
    #181a1e 100%
  );
  /* background-color: #02020e; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.site-container {
  min-height: 100vh;
}

main {
  flex: 1;
}

.small-container {
  max-width: 600px;
}

.label {
  color: #030303;
}

.nav-text {
  color: #fff;
}

.nav-text:hover {
  color: #d0d0d0;
}

footer {
  color: #f6f5f8;
}

.search {
  width: 85%;
}

/* LOADING SPINNER AND MESSAGE BOX*/

.spinner {
  display: inline-block;
  left: 20%;
  width: 5rem;
  height: 5rem;
}
.spinner:after {
  content: ' ';
  display: block;
  width: 4rem;
  height: 4rem;
  margin: 0.5rem;
  border-radius: 50%;
  border: 0.375rem solid #f6f5f8;
  border-color: #f6f5f8 transparent #f6f5f8 transparent;
  animation: spinner 1.2s linear infinite;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading {
  font-size: 1.5rem;
  color: #f6f5f8;
}

.message-box {
  margin-top: 3rem;
  width: 80%;
}

/* MOVIELIST CARDS */

.btn-delete {
  margin-left: 80%;

  height: 1.5rem;
  width: 2.5rem;
  padding: 0 0.25rem;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
}

.movie-list-container {
  overflow-y: scroll;
  height: 100vh;
  background: transparent;
}

.card-list {
  background-color: #202528;
  color: #fff;
  border-radius: 1rem;
  width: 80%;
}

.movie-list-title {
  color: #fff;
}

.year {
  font-size: 0.75rem;
  padding-left: 0;
}
/* FORM  */

.form-border {
  padding: 1.5rem;
  width: 75%;
  background-color: #fff;
}

.btn-post {
  background-color: #202528;
  border-color: #030303;
}
.btn-post:hover {
  background-color: #696969;
  border-color: #696969;
}
